<div class="{{cssClass}} flexcol, sheet-container character-sheet">
	<form autocomplete="off">
		<div class="field">
			Name
			<input name="name" type="text" value="{{actor.name}}">
		</div>
		<div class="field">
			Callsign
			<input name="system.callsign" type="text" value="{{actor.system.callsign}}">
		</div>
		<div class="field">
			Advances
			<input name="system.advances" type="text" value="{{actor.system.advances}}">
		</div>
		<div class="field">
			Rank
			<input name="system.rank" type="text" value="{{actor.system.rank}}" disabled="true">
		</div>
		<div class="field">
			Biography
			<!--<textarea name="system.biography">{{actor.system.biography}}</textarea>-->
			{{editor actor.system.biography target="system.biography"}}
		</div>
	</form>
</div>